IO_LOC "XTAL_IN" 35;
IO_LOC "KEY_n[0]" 15;
IO_LOC "KEY_n[1]" 14;
IO_LOC "PIO" 13;
IO_LOC "LED_R_n" 18;
IO_LOC "LED_G_n" 17;
IO_LOC "LED_B_n" 16;
IO_LOC "PSRAM_CE_n" 19;
IO_LOC "PSRAM_SCK" 20;
IO_LOC "PSRAM_SIO[3]" 21;
IO_LOC "PSRAM_SIO[2]" 24;
IO_LOC "PSRAM_SIO[1]" 23;
IO_LOC "PSRAM_SIO[0]" 22;
IO_LOC "LCD_R[4]" 31;
IO_LOC "LCD_R[3]" 30;
IO_LOC "LCD_R[2]" 29;
IO_LOC "LCD_R[1]" 28;
IO_LOC "LCD_R[0]" 27;
IO_LOC "LCD_G[5]" 40;
IO_LOC "LCD_G[4]" 39;
IO_LOC "LCD_G[3]" 38;
IO_LOC "LCD_G[2]" 34;
IO_LOC "LCD_G[1]" 33;
IO_LOC "LCD_G[0]" 32;
IO_LOC "LCD_B[4]" 45;
IO_LOC "LCD_B[3]" 44;
IO_LOC "LCD_B[2]" 43;
IO_LOC "LCD_B[1]" 42;
IO_LOC "LCD_B[0]" 41;
IO_LOC "LCD_DCLK" 11;
IO_LOC "LCD_DE" 5;
IO_LOC "LCD_HSYNC_n" 10;
IO_LOC "LCD_VSYNC_n" 46;
IO_PORT "XTAL_IN" IO_TYPE=LVCMOS33;
IO_PORT "KEY_n[0]" IO_TYPE=LVCMOS33;
IO_PORT "KEY_n[1]" IO_TYPE=LVCMOS33;
IO_PORT "PIO" IO_TYPE=LVCMOS33;
IO_PORT "LED_R_n"  IO_TYPE=LVCMOS33;
IO_PORT "LED_G_n"  IO_TYPE=LVCMOS33;
IO_PORT "LED_B_n"  IO_TYPE=LVCMOS33;
IO_PORT "PSRAM_CE_n"  IO_TYPE=LVCMOS33;
IO_PORT "PSRAM_SCK"  IO_TYPE=LVCMOS33;
IO_PORT "PSRAM_SIO[3]"  IO_TYPE=LVCMOS33;
IO_PORT "PSRAM_SIO[2]"  IO_TYPE=LVCMOS33;
IO_PORT "PSRAM_SIO[1]"  IO_TYPE=LVCMOS33;
IO_PORT "PSRAM_SIO[0]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_R[4]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_R[3]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_R[2]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_R[1]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_R[0]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_G[5]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_G[4]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_G[3]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_G[2]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_G[1]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_G[0]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_B[4]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_B[3]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_B[2]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_B[1]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_B[0]"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_DCLK"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_DE"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_HSYNC_n"  IO_TYPE=LVCMOS33;
IO_PORT "LCD_VSYNC_n"  IO_TYPE=LVCMOS33;
